VITE_FIREBASE_API_KEY=AIzaSyCKPJ4klGTGxdgTxC3Q93YiaTZixlI0vE0
VITE_FIREBASE_AUTH_DOMAIN=shaivika-lms-ai.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=shaivika-lms-ai
VITE_FIREBASE_STORAGE_BUCKET=shaivika-lms-ai.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=977716272905
VITE_FIREBASE_APP_ID=1:977716272905:web:de0781e0988aecfc823dd8
VITE_FIREBASE_MEASUREMENT_ID=G-621GCQ0W26
